<div class="footer">
    Built by <a target="_blank" href="https://github.com/dcvogi">Dimitris Vogiatzis</a> © 2019
</div>
<script src="./javascripts/main.js"></script>
<script src="./javascripts/analyticsTracking.js"></script>
